{%extends "base.html"%}
{%block content%}
        <form  name="form1" method="post" action="">
		 {{form.hidden_tag()}}
		 <table>
		 <tr><th>序号</td><th>商品型号</th><th>数量</th><th>选择/全选<input type="checkbox" id="ckall" /></th></tr>
		
		<tr><td name="xuhao">1</td><td><input type="text" value="" name="goods" class="goods"></td><td><input type="text" value="" name="quantity" class="quantity"></td><td><input type="checkbox" name="ckb"></td></tr> 
		<tr id="addrow"><td colspan="4"><span class="addrow">新增一行</span><span class="delrow">删除选中行</span></td>
		<tr id="tbfoot">
		    <td colspan="3"  ><span class="count">The count:</span>
		    <input type="text" id="the_count" readonly="true" value="0" ></span></td>
		    <td><button  type="submit">保存数据</button></td>
		</tr>
		</table>
		</form>

{%endblock%}

